# CALVIN CORDOVA
## Week3:  2/1/2022-2/3/2022
### Python Build-in Data Structures - Lists

In [1]:
my_list= [88,89,76,99,100,34,57]

In [2]:
my_list

[88, 89, 76, 99, 100, 34, 57]

In [3]:
type(my_list)

list

In [4]:
lst1 =[50,89 ,'Alice',66.8,'a','bob',99]

In [5]:
lst1

[50, 89, 'Alice', 66.8, 'a', 'bob', 99]

In [6]:
len(lst1)

7

In [7]:
fruits= ['Apple','Banana','Cherry','Kiwi']

In [8]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [9]:
fruits [0]

'Apple'

In [10]:
fruits[1]

'Banana'

In [11]:
fruits[2]

'Cherry'

In [12]:
fruits[-1]

'Kiwi'

In [13]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [14]:
#slicing 
my_list= [89, 90, 'alice','bob','jen']

In [15]:
my_list [1]

90

In [16]:
my_list [1:]

[90, 'alice', 'bob', 'jen']

In [17]:
my_list [1:3]

[90, 'alice']

In [18]:
my_list [1:4]

[90, 'alice', 'bob']

In [19]:
my_list [:3]

[89, 90, 'alice']

In [20]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [21]:
my_list [:1]

[89]

In [22]:
fruits [:1]

['Apple']

In [23]:
fruits [:2]

['Apple', 'Banana']

In [24]:
fruits [1:3]

['Banana', 'Cherry']

In [25]:
fruits [3:4]

['Kiwi']

In [26]:
fruits [2:4]

['Cherry', 'Kiwi']

In [27]:
fruits = fruits + ['orange']

In [28]:
fruits [1]= 'mango'

In [29]:
fruits

['Apple', 'mango', 'Cherry', 'Kiwi', 'orange']

In [30]:
# double the list
my_list *2

[89, 90, 'alice', 'bob', 'jen', 89, 90, 'alice', 'bob', 'jen']

In [31]:
my_list

[89, 90, 'alice', 'bob', 'jen']

In [32]:
# Use the built in functions

In [33]:
fruits.append('banana')

In [34]:
fruits

['Apple', 'mango', 'Cherry', 'Kiwi', 'orange', 'banana']

In [35]:
lst1= ['a','e','p','c','e']

In [36]:
lst1.extend([1,2,3,4,5])

In [37]:
fruits

['Apple', 'mango', 'Cherry', 'Kiwi', 'orange', 'banana']

In [38]:
lst1

['a', 'e', 'p', 'c', 'e', 1, 2, 3, 4, 5]

In [39]:
fruits.pop(0)

'Apple'

In [40]:
fruits

['mango', 'Cherry', 'Kiwi', 'orange', 'banana']

In [41]:
fruits.pop ()

'banana'

In [42]:
fruits

['mango', 'Cherry', 'Kiwi', 'orange']

In [43]:
lst1

['a', 'e', 'p', 'c', 'e', 1, 2, 3, 4, 5]

In [44]:
del lst1 [1]

In [45]:
lst1

['a', 'p', 'c', 'e', 1, 2, 3, 4, 5]

In [46]:
lst2= ['c','r','a','e','b']

In [47]:
lst2

['c', 'r', 'a', 'e', 'b']

In [48]:
list1=[90,80,70]
list2=[60,50,40]
list3=[40,30,20]

In [49]:
nested_list=[list1, list2, list3]

In [50]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [51]:
len(nested_list)

3

In [52]:
nested_list [0]

[90, 80, 70]

In [53]:
nested_list[-1]

[40, 30, 20]

In [54]:
nested_list [:-2]

[[90, 80, 70]]

In [55]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [56]:
lst1=nested_list[0]

In [57]:
lst1[1]

80

In [58]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [59]:
lst2=nested_list[1]

In [60]:
nested_list [1][-1]

40

In [61]:
#range ()
range (10)

range(0, 10)

In [62]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
lst3=list(range(2,20))

In [64]:
lst3

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [65]:
#insert ()
lst3.insert(1, 'red')

In [66]:
lst3

[2, 'red', 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [67]:
lst3.remove(3)

In [68]:
lst3

[2, 'red', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [69]:
# in 
5 in lst3

True

In [70]:
w= ['saw', 'small', 'he', 'foxes', 'six', 'add']

In [71]:
w.sort ()

In [72]:
w

['add', 'foxes', 'he', 'saw', 'six', 'small']

In [73]:
w.sort (key=len)

In [74]:
w

['he', 'add', 'saw', 'six', 'foxes', 'small']

In [75]:
#zip
lst1=['foo','bar','baz']
lst2=['one','three','two']
zipped_list= zip(lst1, lst2)

In [76]:
zipped_list

In [79]:
l = list(zipped_list)

In [ ]:
1