# CALVIN CORDOVA
## Week6: 2/24/2022
### Python- List, Set, and Dictionary Comprehension

# List Comprehension

<code> new_list = [expression for member in interable] <code/>
    

## Using Conditional Logic
    
<code> new_list = [expression for member in iterable (if conditional)
<code/>
    
<code> new_list = [expression (if conditional) for member in ilertable]
<code/>

In [1]:
lst = []

for letter in 'CIS310data':
    lst.append(letter)
    
print (lst)

['C', 'I', 'S', '3', '1', '0', 'd', 'a', 't', 'a']

In [2]:
'''
Syntax of the list comprehension
[expression for item in list]
'''
lst= [letter for letter in 'CIS310Data']
print(lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [3]:
squares = []


for i in range(11):
    squares.append(i*i)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
squares = [n*n for n in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Filter the data
lst1 = [n*n for n in range(11)if n %2 == 0]
lst1

[0, 4, 16, 36, 64, 100]

In [11]:
lst2 = [n*n for n in range(11)if n %2 != 0]
lst2

[1, 9, 25, 49, 81]

In [12]:
s= 'CIS310 communicate students with analytical thinking and practical skills'

vowels = [l for l in s if l in 'aeiou']
vowels

['o',
 'u',
 'i',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i']

In [14]:
prices = [1.25,-9.45,10.22,3.78,-5.92,1.16]
new_prices=[v if v > 0 else 0 for v in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [15]:
lst = ['Even' if num%2==0 else 'Odd' for num in range (1,11)]
lst

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [20]:
#conditional logic
sentence='Studies found that the financial imoact of poor-qualiry data cost the US economy 3.1 trillion in 2016'
vowels= 'aeiou'

consonants= [letter for letter in s if letter.isalpha() and letter.islower() and letter not in vowels]
consonants

['c',
 'm',
 'm',
 'n',
 'c',
 't',
 's',
 't',
 'd',
 'n',
 't',
 's',
 'w',
 't',
 'h',
 'n',
 'l',
 'y',
 't',
 'c',
 'l',
 't',
 'h',
 'n',
 'k',
 'n',
 'g',
 'n',
 'd',
 'p',
 'r',
 'c',
 't',
 'c',
 'l',
 's',
 'k',
 'l',
 'l',
 's']

In [4]:
#As an example, consider a situation in which you need to calculate the
#the price after tax for a list of transactions
txs = [1.09,23.56,-5.8,57.84,4.56,-3,6.78,-7.5]
TAX_Rate= .08
dinal_prices = [total * (total* TAX_RATE) for total in txns if total>0]
final_prices

NameError: name 'txns' is not defined

In [5]:
#nested list comprehension
lst = [n*n for n in range (1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
lst = [num**2 for num in [n*n for n in range (1,11)]]
lst

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [12]:
lst = [ num**2 for num in [n*n for n in range (1,11) if n%2 == 0]]
lst

[16, 256, 1296, 4096, 10000]

In [20]:
# Using Set and Dictionary Comprehensions
s= 'data preparation consumes an amount of time (up tp 80% spent on analytics')
unique_vowels = {letter for letter in s if letter in 'aeiou'}
unique_vowels

SyntaxError: invalid syntax (<ipython-input-20-0f3fcbd8308b>, line 2)

In [19]:
d = {i: i**2 for i in range (10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [24]:
#use of list comprehension in dictionary comprehension
cities= ['Austin', 'Tacoma', 'Topeka','Sacramento', 'Charlotte']
temps = {c:[n for n in range (40,50)] for c in cities}
temps

{'Austin': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Tacoma': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Topeka': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Sacramento': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Charlotte': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}

In [27]:
# using a dictionary
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes',2: 'no'}
lst = [d.get (i, 'idle')for i in l]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [30]:
l = [1,2,1,2,3,4,5,6,2]
new_lst = ['Yes' if n ==1 else 'No' if n == 2 else 'Idle' for n in l]
new_lst

['Yes', 'No', 'Yes', 'No', 'Idle', 'Idle', 'Idle', 'Idle', 'No']

In [31]:
x =[5,2,1,4,5,2,1,3]